{% extends 'base.html' %}
{% block title %}{{article.tags}}{% endblock %}
{% load widget_tweaks %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<p>
				<img src="{{article.image.url}}" class="img-thumbnail" style="width:100%;height:550px;object-fit:cover;object-position:50% 50%;">
			</p>
			<p>
				<b>{{article.title|upper}}</b>
				<br>Posted: {{article.date}}<br>
				<h3><span class="badge badge-success">{{article.tags}}</span></h3>
				<hr class="alert-success">
			</p>
			<p style="font-family:Georgia 'sans serif';">{{article.body}}</p>
			<p>
				<form method="post" action="#GoToComments">
					{% csrf_token %}
					{% for field in form %}
					 {{ field.label_tag }}
					 {% render_field field class="form-control is-valid" rows="4" %}
					{% endfor %}<br>
					<button class="btn btn-success">Comment</button>
				</form>
			</p><br><br><br>
			{# comments count #}
			<p>
				<a href="{% url 'blog:all_comments' article.id %}">
					<button type="button" class="btn btn-secondary">
					Comments<span class="badge badge-light">{{ article.comments_set.all.count}} </span>
				    </button>
				</a>
			</p>
			{# end of comment count #}
			{# looping and diplaying all comments #}
			{% for comment in comments %}
			  <div class="alert alert-secondary" id="GoToComments">{{comment}}</div>
			{% endfor %}
			{# end of loop #}

			{% if article.comments_set.all.count > 4 %}
			  <a href="{% url 'blog:all_comments' article.id %}">View all comments</a>
			{% else %}
			{% endif %}

		</div>
		<div class="col-md-4 card">
			<h3><span class="badge badge-success">Related Articles</span></h3>
				<hr class="alert-success">
			{% if related_articles %}
			{% for article in related_articles %}
			 <p>
			 	<a href="{% url 'blog:_article' article.id %}"><img src="{{article.image.url}}" style="width:100px; height:auto;" class="img-thumbnail">
			 	</a>
			 </p>
			 <p>
			 	<b>
			 		<a href="{% url 'blog:_article' article.id %}" style="color:black;">{{article.title|upper}}</a>
			 	</b>
			 	<br>Posted: {{article.date|date}}<br>
			 	<span class="badge badge-secondary">{{article.tags|title}}</span>
			 </p>
			{% endfor %}
			{% else %}
			<p>No related articles to display</p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}